<nav>
    <div class="logo"><a href="/"><span>LOST</span><span>FOUND</span></a></div>
    <div class="search">
        <form action="">
            <input type="text">
        </form>
    </div>
    <div class="links">
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
    </div>
</nav>