<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <main>
        <div class="lost-items">
            <h2>Lost Items</h2>
            <% for(item of items){ %>
                <div class="items">
                    <h3><%= item.name %></h3>
                    <p><%= item.desc %></p>
                    <p><%= item.date %></p>

                </div>
            <% } %>
        </div>
        <div class="found-items"></div>
    </main>
</body>
</html>