<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>User-Login</title>
</head>
<body>
    <form action="/login" method="post">
        <div class="form-body">
            <div class="form-item">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-item">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <button class="btn">Login</button>
            <p>Don't have an account? <a href="/signup">Signup</a></p>
        </div>
    </form>
</body>
</html>