*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


img{
    width: 100%;
}

.form{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.form-body{
    max-width: 450px;
    background: #999898;
    padding: 20px 25px;
    border-radius: 5px;
    
}

.form-body .form-item{
    padding: 8px;
    /* background: #fcfcfc; */
    margin: 14px 0;
    border: none;
    
}

.form-body input{
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: 8px 6px;
    margin-top: 8px;
    border-radius: 4px;
}

.form-body input:focus{
    outline: none;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 12px 28px;
    font-size: 1.3rem;
    border: none;
    border-radius: 25px;
}

.form-body p{
    text-align: center;
    margin: 5px auto;
}

main{
    padding: 20px 10px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

main .items-div .items{
    border: 2px solid #333;
    padding: 10px 20px;
    text-align: left;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

main .img{
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
}

main img{

}
.lost-form{
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.lost-form .item-form-div{
    width: 800px;
    padding: 20px 22px;
    border: .2px solid rgb(87, 86, 86);
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(94, 93, 93)
}

.lost-form .item-form-div input{
    margin-top: 4px;
    margin-bottom: 12px;
    width: 100%;
    padding: 3px;
    font-size: 1.2rem;
}
textarea{
    width: 100%;
}

.lost-form .item-form-div label{
    display: block;
}

.item-form-div .btn{
    background: #333;
    color: whitesmoke;
    padding: 15px 45px;
}

.item-form-div h2{
    text-align: center;
    margin-bottom: 30px;
}

.profile{
    max-width: 1200px;
    margin: 30px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr .5fr;
}

.profile label{
    display: block;
    margin-top:15px;
    margin-bottom: 5px;
}

.profile form{
    width: 200px;
}

.profile form input{
    width: 200px;
    padding: 3px 2px;
}

.profile .btn{
    font-size: 1rem;
    color: white;
    background: #333;
}

.profile img{
    width: 200px;
    
}